/* Reset some default styles */
body, h1, h2, p {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: #4346b2;
}

.container {
    display: flex;
    width: 100vw;
    height: 100vh;
    box-shadow: none;
    border-radius: 0;
    background: #4346b2;
}

/* Left Side (60%) */
.left {
    flex: 6; /* 60% */
    padding: 5vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #4346b2;
}

.left h1 {
    font-size: 7vw;
    font-weight: bold;
    color: #fff;
    margin-bottom: 5vh;
}

.left h2 {
    margin-top: 1vh;
    font-size: 2vw;
    color: #fff;
}

.buttons {
    margin-top: 30px;
}

.btn {
    padding: 1vh 2vw;
    margin: 1vw;
    font-size: 1.5vw;
    border: none;
    cursor: pointer;
    border-radius: 1vw;
    transition: 0.3s; 
}

.btn:first-child {
    background-color: #fff;
    color: #000;
    text-decoration: none;
}

.btn:last-child {
    background-color: #fff;
    color: #000;
    text-decoration: none;
}

.btn:hover {
    opacity: 0.8;
    color:#E3E3F0;
}

/* Right Side (40%) */
.right {
    flex: 4; /* 40% */
    background-color: #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
}

.right img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Responsive Design */
@media (max-width: 768px) {
    .container {
        flex-direction: column;
        height: auto;
    }

    .left, .right {
        flex: 1;
        width: 100%;
        text-align: center;
    }

    .right img {
        width: 100%;
        height: auto;
    }
}
