body {
    font-family: "Helvetica Neue", Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #4346b2;
   
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 32px;
    background-color: #f8f4fc;
    color: white;
    position: fixed;
    width: 100%;
    box-sizing: border-box;
    box-shadow: 0 2px 8px rgba(110, 99, 165, 0.2);
    border-bottom: 2px solid #eee;
}

.site-title {
    font-size: 33px;
    font-weight: bold;
    color: #6259c9;
    text-decoration: none;
    padding-left: 1rem;
  }

.welcome-text {
    font-size: 24px; 
    color: #6259c9;
    
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

#username {
    font-weight: bold;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: #7a6cb3;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;

    margin-left: auto;
}

button:hover {
    background-color: #5e54aa;
}


h2 {
    background-color: #4346b2;
    color: white;
    margin: 0;
    padding: 20px;
    font-size: 36px;
    font-weight: bold;
}


.course-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    justify-content: center;
    padding: 40px;
  }
  
.course {
    position: relative;
    background-color: white;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    width: 300px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
  
.course-description {
    position: absolute;
    bottom: 20px;
    left: 20px;
    right: 20px;
    background-color: #e4e2f2;
    padding: 12px;
    border-radius: 8px;
    text-align: center;
    font-weight: bold;
    color: #333;
}
  

h3 {
    margin: 0;
    color: #6259c9;
    font-size: 24px;
}

p {
    
    color: #888;    
    padding: 0px;
}

@media (max-width: 768px) {
    .course {
        width: calc(50% - 40px);
    }
}

@media (max-width: 480px) {
    .course {
        width: calc(100% - 40px);
    }
}
