{% load static %}
{% load dict_extras %}
{% load widget_tweaks %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Teams Page</title>
    <link rel="stylesheet" href="{% static 'css/edit_team.css' %}">
</head>
<body>

    <div class="header">
        <span class="welcome-text">Welcome, <span id="username">{{ teacher }}</span></span>
        <div class="button-container">
            <button class="back-button" onclick="window.location.href='{% url 'teams_dashboard' teacher.id %}'">Return</button>
            <button class="logout-button" onclick="window.location.href='/'">Logout</button>
        </div>
    </div>
    <h2>Teams Members in {{ team }}</h2> 

    <h3>Current Members:</h3>
{% for member in members %}
        <div class="teams-container">
            <div class="teams">
                <h3>{{ member.course_member }}</h3>
                <form method="POST" action="{% url 'remove_from_team' teacher.id course.id team.id member.id %}">
                    {% csrf_token %}
                    <button class="edi-button" type="submit">Remove</button>
                </form>
            </div>
        </div>
    {% empty %}
        <p>No members added yet</p>
    {% endfor %}

    <div class="new-course-box">
        <h3>Invite Students</h3>
        <form method="POST" action="{% url 'edit_team' teacher.id course.id team.id%}">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Invite Students</button>
        </form>
    </div>
