{% load static %}
{% load dict_extras %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Courses</title>
    <link rel="stylesheet" href="{% static 'css/student_courses.css' %}">
</head>
<body>

    <div class="header">
        <!-- Assessmate title -->
        <a href="{{ user_dashboard_url }}"  class="site-title">Assessmate</a>
        <span class="welcome-text">Welcome, <span id="username">{{ user.name }}</span></span>
        <div class="button-container">
            <button class="logout-button" onclick="window.location.href='/'">Logout</button>
        </div>
      </div>
    <h2>Student Dashboard</h2> 

    {% comment %} {% for course in courses %}
        <div class="course">
            <h3>{{ course.course_number }} - {{ course.course_name }}</h3>
    </div>
{% empty %}
    <p>No courses enrolled yet</p>
{% endfor %} {% endcomment %}

    {% for course in courses %}
        <div class="course" onclick="window.location.href='{% url 'student_course_detail' user.id course.id %}'" style="cursor: pointer;">
            <h3>{{ course.course_number }} - {{ course.course_name }}</h3>
        </div>
    {% empty %}
        <p>No courses enrolled yet</p>
    {% endfor %}

</body>

</html>
